body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
}

header img {
    float: left;
    margin: 10px 0 0 20px;
    border-radius: 30px;
}

h1 {
    float: left;
    color: white;
    margin-left: 550px;
    text-align: center;
}

nav {
    float: right;
    vertical-align: center;
    margin-top: 30px;
}

li {
    float: left;
    vertical-align: center;
    margin-right: 20px;
}

a {
    color: white;
}

main {
    margin-top: 80px;
}

.description {
    background-color: rgb(233, 233, 233);
    padding: 40px 150px 50px 150px;
}

.description img {
    width: 30%;
    float: left;
    margin: 0 20px 20px 0;
}

.description-p2 {
    clear: left;
}

.relationship {
    height: 480px;
    padding: 40px 150px 50px 150px;
}

.relationship img{
    width: 40%;
    float: right;
}

footer {
    height: 80px;
    background-color: rgb(175, 174, 174);
    clear: right;
    text-align: center;
    line-height: 80px;
}

